###################################################################################################################
##### This Docker Compose file can be used for locally testing the web server's connection with the database.######
##### It's for experimental use only and an integrated or live testing environment should replace this process.####
##### But for the sake of this exercise Docker Compose was used. ##################################################
###################################################################################################################
version: '3.8'

services:
  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_NAME=curology
      - DB_USER=curology
      - DB_PASSWORD=password
      - FLASK_DEBUG=1
    depends_on:
      - db
      
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: curology
      POSTGRES_USER: curology
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
